.row-fluid
  .span12
    span(app-version)
    div(fieldtracker)
    div(fieldtracker)
   // table
      thead
        tr
          th(class='invisible')
          th(offset='1',colspan='2',ng-click='prevPage()')
            button(width='100%') <<<
          th(colspan='11') Field Time Tracking
          th(colspan='2', ng-click='nextPage()')
            button(width='100%') >>>
        tr
          th Name
          th(ng-repeat="week in range", ng-show="$index >= from && $index < (from + listnum )",width='25px') {{week}}
      tbody
        tr(ng-repeat="record in records")
          td(width='150px') {{record.name}}
          td(ng-repeat="week in range", ng-show="$index >= from && $index < (from+listnum)",ng-class="record.history[week]",ng-click="changeState($parent.$index,week)")
